In [1]:
import pandas as pd

In [2]:
events = pd.read_csv('data/events.csv')
event_results = pd.read_csv('data/event_results.csv')
event_details = pd.read_csv('data/event_details.csv')

In [5]:
events['host_acp_code'] = events['club'].str.replace('^.* / ', '', regex=True)
events_norm = events[['eid', 'host_acp_code', 'date', 'rtid', 'type']]

In [9]:
event_details_norm = event_details[['eid', 'finishers', 'dnf']]

In [10]:
event_details_norm.head()

    eid  finishers  dnf
0  7628          5  1.0
1  7317          6  0.0
2  7613         23  0.0
3  7629          4  0.0
4  7432         19  1.0

In [11]:
event_details_norm.groupby('dnf').count()

        eid  finishers
dnf
-1.0      2          2
 0.0   4875       4875
 1.0   1698       1698
 2.0    933        933
 3.0    518        518
 4.0    294        294
 5.0    214        214
 6.0    137        137
 7.0     72         72
 8.0     51         51
 9.0     41         41
 10.0    29         29
 11.0    19         19
 12.0    17         17
 13.0    16         16
 14.0     5          5
 15.0     6          6
 16.0     8          8
 17.0     4          4
 18.0     1          1
 19.0     2          2
 20.0     2          2
 21.0     2          2
 22.0     2          2
 23.0     2          2
 24.0     1          1
 26.0     1          1
 28.0     1          1
 29.0     1          1
 30.0     1          1
 32.0     1          1
 39.0     1          1
 78.0     1          1